/*FONTS START*/

@fontLink: gotham_boldregular;
@fontTitle: montserratbold;
@fontText: gotham_mediumregular;
@fontCaption: montserratregular;

/*FONTS END*/


/*COLOR START*/

@colorElement: #6cd8d7;
@colorBrand: rgba(114, 5, 183, 1);
@colorBrandMask: rgba(114, 5, 183, .7);
@colorBg: rgba(245, 247, 249, 1);
@colorBgMask: rgba(245, 247, 249, .95);
@colorTitleMain: #333b42;
@colorTextMain: #74797e;

/*COLOR END*/


/*SIZE START*/

@fontSizeReg: 14px;
.fontSize(@index) {
    font-size: calc(@fontSizeReg + @index);
}

@mobile: ~"all and (max-width: 420px)";
@tablet: ~"all and (max-width: 1024px)";
@desktop-square: ~"all and (max-width: 1280px)";
@desktop-landscape: ~"all and (max-width: 1920px)";

/*SIZE END*/


/*BASE STYLES START*/

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.b-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.ps {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ps--body {
    padding-top: 130px;
}

.b-wrapper {
    width: 98vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.b-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p {
    font-family: @fontText;
}

.ps--body_p {
    color: @colorTextMain;
    .fontSize(0);
    line-height: 25px;
    text-align: center;
    padding-top: 10px;
}

.ps--body_h {
    text-align: center;
}

.h {
    text-transform: uppercase;
}

.h1,
.h3 {
    font-family: @fontTitle;
}

.h1 {
    .fontSize(46);
}

.h2 {
    font-family: @fontLink;
    .fontSize(26);
}

.h3 {
    .fontSize(16);
}

.b-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button {
    display: inline-block;
    font-family: @fontLink;
    border-radius: 5px;
    &:active {
        transform: scale(.98);
    }
}

.button--hidden {
    visibility: hidden;
}

.button--visible {
    visibility: visible;
}


/*BASE STYLES END*/


/*HEADER START*/

.ps--header {
    background-blend-mode: multiply;
    background-image: url(../images/Layer1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: @colorBrandMask;
    padding-top: 70px;
    padding-bottom: 250px;
}

.ps--header__b-line--head {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ps--header__menu {
    @media @mobile {
        order: 2;
        flex-direction: column;
    }
}

.button--join,
.ps--header_menu-item {
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: @fontLink;
    font-size: @fontSizeReg;
    line-height: 29px;
    text-decoration: none;
    color: #ffffff;
    border-width: 2px;
    border-style: solid;
}

.ps--header_menu-item {
    text-transform: uppercase;
    border-color: transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    &:not(:last-child) {
        margin-right: 20px;
    }
    &:hover {
        border-bottom-color: @colorElement;
    }
}

.button--join {
    position: relative;
    margin-left: 35px;
    padding-left: 28px;
    padding-right: 58px;
    border-color: @colorBrand;
    background-color: @colorBrand;
    &:after {
        position: absolute;
        top: 24px;
        right: 21px;
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../images/icons/button_send.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &:hover {
        background-color: lighten(@colorBrand, 5%);
        border-color: lighten(@colorBrand, 5%);
    }
    @media @mobile {
        margin-left: 0;
    }
}

.ps--header__b-line--body {
    padding-top: 150px;
    align-items: flex-start;
}

.ps--header_h1,
.ps--header_p {
    color: #ffffff;
}

.ps--header_p {
    .fontSize(2);
}

.ps--header__form {
    width: 100%;
    flex-wrap: wrap;
}

.form_item-wrapper {
    display: block;
    width: 200px;
    height: 20px;
    background-color: #fff;
    border-style: solid;
    border-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    /*margin-right: 20px;*/
    margin: 10px 20px 10px 0;
    /* border-left-width: 30px;
 border-right-width: 30px;*/
    border-width: 19px 40px;
}

.form_field {
    border-color: transparent;
    box-shadow: none;
    outline: none;
    width: 245px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: @fontText;
    .fontSize(0);
}

.button-submit {
    border-color: @colorElement;
    border-width: 2px;
    width: 58px;
    height: 58px;
    background-blend-mode: normal;
    background-image: url(../images/icons/button_send.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: @colorElement;
    &:hover {
        background-color: lighten(@colorElement, 5%);
    }
}


/*HEADER END*/


/*CONTAINER START*/

.ps--container {
    flex-grow: 1;
}

.ps--body-1 {
    background-blend-mode: screen;
    background-image: url(../images/bgDecorationN.jpg);
    background-repeat: repeat;
    background-color: @colorBgMask;
}

.ps--body-1 .b-line--body {
    height: 300px;
    background-image: url(../images/iphone.png);
    background-repeat: no-repeat;
    background-position: 50% -15%;
}


/*CONTAINER END*/


/*FOOTER START*/


/*FOOTER END*/
